<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
	<!-- 'name' is the nickname your C# code uses -->
	<!-- 'Initial Catalog' is the actual database name in SSMS -->
	<add name="HemoGlobeDB"
         connectionString="Data Source=.;Initial Catalog=BloodBankDB;Integrated Security=True"
         providerName="Microsoft.Data.SqlClient" />
</connectionStrings>