USE [BloodBankDB]
GO
/****** Object:  Table [dbo].[Blood_Request]    Script Date: 4/21/2026 2:30:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blood_Request](
	[Request_ID] [int] NOT NULL,
	[Request_Date] [date] NULL,
	[Blood_Type] [varchar](5) NULL,
	[Quantity_Requested] [int] NULL,
	[Hospital_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Request_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Blood_Unit]    Script Date: 4/21/2026 2:30:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blood_Unit](
	[BloodUnit_ID] [int] NOT NULL,
	[Blood_Type] [varchar](5) NULL,
	[Collection_Date] [date] NULL,
	[Expiration_Date] [date] NULL,
	[Donation_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[BloodUnit_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Donation_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Donation]    Script Date: 4/21/2026 2:30:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Donation](
	[Donation_ID] [int] NOT NULL,
	[Donation_Date] [date] NULL,
	[Quantity] [int] NULL,
	[Donor_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Donation_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Donor]    Script Date: 4/21/2026 2:30:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Donor](
	[Donor_ID] [int] NOT NULL,
	[Name] [varchar](100) NULL,
	[Gender] [varchar](10) NULL,
	[Date_of_Birth] [date] NULL,
	[Blood_Type] [varchar](5) NULL,
	[Phone_Number] [varchar](15) NULL,
	[Address] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Donor_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hospital]    Script Date: 4/21/2026 2:30:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hospital](
	[Hospital_ID] [int] NOT NULL,
	[Hospital_Name] [varchar](100) NULL,
	[Phone_Number] [varchar](15) NULL,
	[Address] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Hospital_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Request_Details]    Script Date: 4/21/2026 2:30:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Request_Details](
	[Request_ID] [int] NOT NULL,
	[BloodUnit_ID] [int] NOT NULL,
	[Quantity_Allocated] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Request_ID] ASC,
	[BloodUnit_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[BloodUnit_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Blood_Request]  WITH CHECK ADD FOREIGN KEY([Hospital_ID])
REFERENCES [dbo].[Hospital] ([Hospital_ID])
GO
ALTER TABLE [dbo].[Blood_Unit]  WITH CHECK ADD FOREIGN KEY([Donation_ID])
REFERENCES [dbo].[Donation] ([Donation_ID])
GO
ALTER TABLE [dbo].[Donation]  WITH CHECK ADD FOREIGN KEY([Donor_ID])
REFERENCES [dbo].[Donor] ([Donor_ID])
GO
ALTER TABLE [dbo].[Request_Details]  WITH CHECK ADD FOREIGN KEY([BloodUnit_ID])
REFERENCES [dbo].[Blood_Unit] ([BloodUnit_ID])
GO
ALTER TABLE [dbo].[Request_Details]  WITH CHECK ADD FOREIGN KEY([Request_ID])
REFERENCES [dbo].[Blood_Request] ([Request_ID])
GO
